
body 
{
	    background-color: aqua;
	}
	

	#title {color:purple;
	}
	

	.Unordered {
	    color: blue;
	    font-style: italic;
	    font-weight: bold;
	}
	

	p {
	    font-size: 26px;
	    text-align: center;
	}
	

	.Ordered {
	    font-weight: bold;
	    font-style: italic;
	    color: blue;
	}


